body,html{
	font-family: arial;
}

header{
	background-color: darkolivegreen;
	padding: 5em;
}

nav{
	background-color:darkslategrey;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

ul{
	padding: 1.5em;
}

li{
	list-style-type: none;
   display: inline;
	padding-left: 0.5em;
}

a{
	color: black;
	text-decoration: none;
}


h1,h2{
	text-align: center;
}
h1{
	font-size: 100px;
	font-family: 'Lobster', cursive;
}

h2{
	font-size: 40px;
}
section{
	padding: 1em;
}

article{
	padding: 2em;
	text-align: center;
}

img{
	border: 1px solid #ddd;
  	border-radius: 4px;
	padding: 1em;
	box-shadow: 8px 8px 5px grey;
	max-width: 100%;
  	height: auto;
}

p{
	text-align: left;
	padding: 0.5em;
}

footer{
	padding: 2em;
	text-align: center;
}